* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
}

.nav-desktop {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 18%;
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.nav-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edaca62d;
}
.nav-logo img {
  width: 28%;
  animation: fly-1 1s infinite alternate;
}

.nav-logo-items {
  color: #d69c8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo-items hr {
  width: 100%;
  border: #edaca6 1px solid;
}

.content {
  min-height: 90vh;
  width: 82%;
  background: #edaca6;
  margin-left: 18%;
  margin-top: 5%;
}

header {
  height: 10%;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  padding: 0 1.25rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right i {
  margin: 0 1rem;
  color: #edaca6;
  cursor: pointer;
  font-size: 1.5rem;
}

section {
  max-width: 100%;
  padding: 3rem 5rem;
  background: #edaca6;
}

.sabores {
  margin-bottom: 3rem;
}

.sabores h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sabores-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores .card {
  background: white;
  min-width: 28%;
  max-width: 28%;
  min-height: 8rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edaca6;
}

.sabores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.sabores-header p:hover {
  background: #ffffff16;
}

.card-icon i {
  font-size: 5rem;
  margin-right: 2rem;
}

.chocolate {
  color: #855142;
}

.vainilla {
  color: #eeddaa;
}

.oreo {
  color: #0e0500;
}

.mym {
  color: #ffc859;
}

.colors {
  color: #e359ff;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.pedidos {
  max-width: 100%;
  background: white;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.pedidos-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pedidos-header h1 {
  color: #edaca6;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.pedidos-header hr {
  width: 100%;
  border: #edaca6 1px solid;
  margin-right: 1rem;
}

.pedidos-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #edaca6;
}

.pedidos-header p:hover {
  background: #edaca616;
}

.rwd-table {
  min-width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: 0.5em;
}

.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  color: rgb(57, 57, 57);
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th,
.rwd-table td:before {
  color: #d69c8b;
}

.rwd-table span {
  padding: 8px 20px;
  border-radius: 20px;
}

.pendiente {
  background: rgba(255, 217, 0, 0.435);
}

.entregado {
  background: rgba(0, 255, 0, 0.435);
}

.actions i {
  cursor: pointer;
  color: #d69c8b;
  border-radius: 15px;
  padding: 10px;
}

.actions i:hover {
  background: #edaca616;
}

.nav-items {
  /* padding-top: 2rem; */
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-item :hover {
  background: #edaca616;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d69c8b;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-item i {
  margin-right: 0.5rem;
}

.mobile{
  display: none;
}

.mobile-container{
  width: 100%;
  display: none;
  flex-direction: column;
}

.nav-mobile{
  width: 100%;
  height: 8vh;
  background: white;
}

.nav-mobile-items{
  padding: 0 1.25rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-content{
  background: #EDACA6;
  max-width: 100%;
  padding: 1.25rem;
  min-height: 90vh;
}

.nav-mobile-items{
  color: #EDACA6;
}

.mobile-cards-container h1{
  color: white;
  margin-bottom: 1rem;
}

.mobile-cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
}

.mobile-card{
  min-width:  50%;
  background: white;
  border-radius: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.mobile-card i{
  font-size: 2rem;
  margin-right: 1rem;
}

.mobile-card h2{
  font-size: 1rem;
  
}

.mobile-card h2, p{
  color: #EDACA6;
}


.mobile-card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile-container{
    display: flex;
  }
}
